<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThresherPricer</title>
</head>
<body>
    
    <h1>ThresherPricer</h1>

    
    <form action="/parts" method="POST">
        <input type="text" name="partNum[]" placeholder="Part Number">
        <input type="text" name="partQty[]" placeholder="Part Qty">
        <input type="text" name="intPartNum[]" placeholder="Internal Part Number">
        <br><br>
        <input type="text" name="partNum[]" placeholder="Part Number">
        <input type="text" name="partQty[]" placeholder="Part Qty">
        <input type="text" name="intPartNum[]" placeholder="Internal Part Number">
        <br><br>
        <input type="submit" value="Submit">
    </form>

</body>
</html>