<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=/css/normalize.css>
    <link rel="stylesheet" href=/css/skeleton.css>
    <link rel="stylesheet" href=/css/style.css>
    
    <title>ThresherPricer</title>
</head>
<body>
    
    <h1>ThresherPricer</h1>

    <h4></h4>Instructions</h4>
    <p>To price components available at <a href="https://www.mouser.com/" target="_blank">Mouser Electronics</a>
    enter the manufacturer part number and quantity.<br>
    You may also optionally enter an internal part number for reference.
    <br><br>

    <p>Sample part numbers for test purposes:</p>
    <ul>
        <li>TLC6983RRFR</li>
        <li>TSC2012HYDT</li>
        <li>CMD328</li>
      </ul>

    
    <form action="/parts" method="POST">
        <input type="text" name="partNum[]" placeholder="Part Number">
        <input type="text" name="partQty[]" placeholder="Part Qty">
        <input type="text" name="intPartNum[]" placeholder="Internal Part Number">
        <br><br>
        <input type="text" name="partNum[]" placeholder="Part Number">
        <input type="text" name="partQty[]" placeholder="Part Qty">
        <input type="text" name="intPartNum[]" placeholder="Internal Part Number">
        <br><br>
        <input type="submit" value="Submit">
    </form>

    <p id="priced">
        
    </p>

</body>
</html>