<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ThresherPricer</title>
</head>
<body>
    
    <h1>ThresherPricer</h1>

    <% if (results.length <= 0)  { %>
        <form action="/results" method="GET">
            <input type="submit" value="View Results">
        </form>
        &nbsp &nbsp
        <form action="/" method="GET">
            <input type="submit" value="Back to Home">
        </form>
    <%  }  else{  %>

    



    <h4></h4>
    
    <br><br>

    <p>Results: <%=results[0]%></p>
    <%= results.length %>

    <ul>
        <li>test var</li>
        <li>test var</li>
        <li>test var</li>
      </ul>


    <div>
        <table>
            <tr>
              <th>Mfg p/n:</th>
              <th>Qty:</th>
              <th>Internal p/n:</th>
            </tr>
                
                <% for (let i = 0; i < results.length; i++)  { %>
                    <tr>
                    <td><%= results[0] %></td>
                    <td><%= results[0] %></td>
                <%  }  %>
            </tr>
          </table>
    </div>

    <%  }  %>



</body>
</html>