<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=/css/normalize.css>
    <link rel="stylesheet" href=/css/skeleton.css>
    <link rel="stylesheet" href=/css/style.css>
    
    <title>ThresherPricer</title>
</head>
<body>
    
    <h1>ThresherPricer</h1>

    <% if (partQty.length <= 0)  { %>
        <form action="/results" method="GET">
            <input type="submit" value="View Results">
        </form>
        &nbsp &nbsp
        <form action="/" method="GET">
            <input type="submit" value="Back to Home">
        </form>
    <%  }  else{  %>

    



    <h4></h4>
    
    <br><br>



    <ul>
        <li>test var</li>
        <li>test var</li>
        <li>test var</li>
      </ul>


    <div>
        <table>
            <tr>
              <th>Mfg p/n:</th>
              <th>Qty:</th>
              <th>Internal p/n:</th>
              <th>Price</th>
            </tr>
                
            <% for (let i = 0; i < partQty.length; i++)  { %>
                <tr>
                    <td><%= partNum[i] %></td>
                    <td><%= partQty[i] %></td>
                    <td><%= intPartNum[i] %></td>
                    <td><%= partPrice[i] %></td>
                </tr>
            <%  }  %>
            
        </table>
    </div>

    <%  }  %>



</body>
</html>