body {
    background-color: rgb(175, 226, 175);
    padding: 30px;
}




a, a:link a:visited {
    color: green;
    text-decoration: none;
    color: darkblue;
  }

  a:hover {
    color: rgb(50, 50, 161);
    text-decoration: underline;
  }

img {
    width: 200px;
}